<ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title">
        Essayer Spotify Premium gratuitement pendant 1 mois
    </div>

    <div class="plan-list">
        <div class="plan-item">
            <div class="plan-title">
                Spotify Premium pour une personne
            </div>
            <div class="plan-description">
                Il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois
            </div>
        </div>

        <div class="plan-item color-2">
            <div class="plan-title">
                Spotify Premium pour les étudiants
            </div>
            <div class="plan-description">
                Il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois
            </div>
        </div>

        <div class="plan-item color-3">
            <div class="plan-title">
                Duo Premium
            </div>
            <div class="plan-description">
                Il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois
            </div>
        </div>

        <div class="plan-item color-4">
            <div class="plan-title">
                Spotify Famille
            </div>
            <div class="plan-description">
                Il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois il était une fois
            </div>
        </div>
    </div>

</ion-content>